.body {
  background-color: #d2e3ca;
  font-family: 'Poppins', sans-serif;
}

.body h1 {
  font-size: 3em;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 6rem 0;
  line-height: 100px;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}

.numberInput {
  width: 80px;
  font-size: 32px;
  margin-left: 12px;
}


.startingCurrency {
  font-size: 32px;
  margin-left: 12px;
}

.button {
  font-size: 32px;
  margin-left: 12px;
}

.newCurrency {
  font-size: 32px;
  margin-left: 12px;
}

.result {
  margin-top: 100px;
}
